<LinkTo
  @params={{array "new"}}
  class="btn btn-primary"
  data-test-button="new"
>
  Konferenz hinzufügen
</LinkTo>

<LeafletMap @lat={{52.518611}} @lng={{13.40833}} @zoom={{1}} as |Layers|>
  <Layers.tile
    @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
  />
  {{#each this.model as |conference|}}
    <Layers.marker @lat={{conference.lat}} @lng={{conference.lng}} as |Marker|>
      <Marker.popup>
        <h3>{{conference.name}}</h3>
        <dl>
          <dt>Zeitraum</dt><dd>{{conference.period}}</dd>
          <dt>Adresse</dt><dd>{{conference.address}}</dd>
        </dl>
      </Marker.popup>
    </Layers.marker>
  {{/each}}
</LeafletMap>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zeitraum</th>
      <th>Adresse</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |conference|}}
      <tr data-test-conference={{conference.id}}>
        <td data-test-column="name">{{conference.name}}</td>
        <td data-test-column="period">{{conference.period}}</td>
        <td data-test-column="address">{{conference.address}}</td>
        <td>
          <LinkTo
            @params={{array "edit" conference.id}}
            class="btn btn-primary"
            data-test-button="edit"
          >
            bearbeiten
          </LinkTo>
          <button
            onclick={{action "delete" conference}}
            class="btn btn-danger"
            data-test-button="delete"
          >
            Löschen
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>