<LinkTo
  @params={{array "new"}}
  class="btn btn-primary"
  data-test-button="new"
>
  Konferenz hinzufügen
</LinkTo>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zeitraum</th>
      <th>Adresse</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |conference|}}
      <tr data-test-conference={{conference.id}}>
        <td data-test-column="name">{{conference.name}}</td>
        <td data-test-column="period">{{conference.period}}</td>
        <td data-test-column="address">{{conference.address}}</td>
        <td>
          <LinkTo
            @params={{array "edit" conference.id}}
            class="btn btn-primary"
            data-test-button="edit"
          >
            bearbeiten
          </LinkTo>
          <button onclick={{action "delete" conference}} data-test-button="delete">
            Löschen
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>